{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Create an Article</h1>
    {{ form_start(formArticle) }}

    {{form_row(formArticle.title, {'attr': {'placeholder': 'title'}})}}
    {{form_row(formArticle.content, {'attr': {'placeholder': 'content'}})}}
    {{form_row(formArticle.image, {'attr': {'placeholder': 'image'}})}}
    <button type="submit" class="btn btn-success">
    {% if editMode %}
        save
        {% else %}
        Add article
        {% endif %}
    </button>
    {{form_end(formArticle)}}

    

{% endblock %}