{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{ article.title}}</h2>
            <div>écrit le {{article.createdAt | date('d/m/y')}} à {{article.createdAt | date('H:i')}}</div>
            <div class="content">
                <img src="{{article.image}}" alt="" />
                {{article.content | raw}}
                <a href="{{path('show_article', {'id': article.id})}}" class="btn btn-primary" >Lire la suite</a>
            </div>
        </article>
    {% endfor %}
</scetion>
{% endblock %}
